<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <title>Predoc</title>
    <link rel="stylesheet" href="../resources/css/material.css" />
    <link rel="stylesheet" href="../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../resources/css/infirm.css" />

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</h:head>

<h:body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base"  >


    <div class="navbar-fixed">
        <nav class="indigo accent-2">
            <div class="info">
                <h2 style="padding-left: 10px;">Gestion des patients</h2>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div id="alert" class="col s6 card">
                <div style="height: 50px; padding:0; margin:0;" class="indigo accent-2"><h3 class="center-align">Alertes</h3></div>

                    <div class="col s12">
                        <div class="card-panel red darken-1">
                          <span class="white-text">Patient n°45 : Cardiaque
                          </span>
                        </div>
                        <div class="card-panel red darken-1">
                          <span class="white-text">Patient n°34 : Diabétique
                          </span>
                        </div>
                        <div class="card-panel red darken-1">
                          <span class="white-text">Patient n°87 : Insufisance cardique
                          </span>
                        </div>
                    </div>
            </div>
            <div id="patients" class="col s5 offset-s1 card">
                <div style="height: 50px; padding:0; margin:0;" class="indigo accent-2"><h3 class="center-align">Informations</h3></div>

                <div class="col s12">
                    <div class="card-panel green darken-1">
                      <span class="white-text">Patient n°1
                      </span>
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="card-panel green darken-1">
                      <span class="white-text">Patient n°2
                      </span>
                        <div class="progress">
                            <div class="determinate" style="width: 65%"></div>
                        </div>
                    </div>
                    <div class="card-panel green darken-1">
                      <span class="white-text">Patient n°3
                      </span>
                        <div class="progress">
                            <div class="determinate" style="width: 16%"></div>
                        </div>
                    </div>
                    <div class="card-panel green darken-1">
                      <span class="white-text">Patient n°4
                      </span>
                        <div class="progress">
                            <div class="determinate" style="width: 90%"></div>
                        </div>
                    </div>
                    <div class="card-panel green darken-1">
                      <span class="white-text">Patient n°5
                      </span>
                        <div class="progress">
                            <div class="determinate" style="width: 30%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="application/javascript" src="../resources/js/jquery.js"></script>
    <script type="application/javascript" src="../resources/js/material.js"></script>
    <script type="application/javascript" src="../resources/js/materialize.min.js"></script>
    <script type="application/javascript" src="../resources/js/raphael.js"></script>
    <script type="application/javascript" src="../resources/js/main.js"></script>

</h:body>
</html>