<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <title>Predoc</title>
    <link rel="stylesheet" href="../resources/css/material.css" />
    <link rel="stylesheet" href="../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../resources/css/style.css" />
    <link rel="stylesheet" href="../resources/css/infirm.css" />

    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.ico" />

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</h:head>

<h:body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base"  >


    <div class="navbar-fixed">
        <nav class="indigo accent-2">
            <div class="info">
                <h2 style="padding-left: 10px;">Interface infirmière</h2>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <h3>Patient n°68 :</h3>
        </div>
        <div class="row card">
            <p>Langue : </p>
            <ul class="flags">
                <li class="french"></li>
                <li class="anglais"></li>
                <li class="espagne"></li>
                <li class="allemagne"></li>
            </ul>

            <p>Sexe : </p>
            <div class="switch">
                <label class="white-text">
                    <span class="man"/>
                    <input type="checkbox" />
                    <span class="lever"></span>
                    <span class="woman"/>
                </label>
            </div>

            <p>Age :</p>
            <input class="" type="tel"/>

            <p>Motif : </p>
            <div class="">
                <select>
                    <option value="" disabled="disabled" selected="selected">Choisir un motif</option>
                    <option value="1">Fièvre</option>
                    <option value="2">Douleur</option>
                    <option value="3">Malaise</option>
                    <option value="3">Trouble digestif</option>
                </select>
            </div>
        </div>
    </div>


    <script type="application/javascript" src="../resources/js/jquery.js"></script>
    <script type="application/javascript" src="../resources/js/material.js"></script>
    <script type="application/javascript" src="../resources/js/materialize.min.js"></script>
    <script type="application/javascript" src="../resources/js/raphael.js"></script>
    <script type="application/javascript" src="../resources/js/main.js"></script>

    <h:outputScript>
        $(document).ready(function() {
            $('select').material_select();
        });
    </h:outputScript>

    <h:form id="end">
        <h:commandButton styleClass="done valid" action="questionnaire" value="Valider"/>
    </h:form>

</h:body>
</html>