<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
        >

<h:head>
    <title>Predoc</title>

    <!--<h:outputStylesheet name="common-style.css" library="css" />-->
    <link rel="stylesheet" href="../resources/css/material.css" />
    <link rel="stylesheet" href="../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../resources/css/font.woff2" />
    <link rel="stylesheet" href="../resources/css/style.css" />

    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.ico" />


    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</h:head>



<h:body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base"  >
    <div class="navbar-fixed">
        <nav class="indigo accent-2">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">68</a>
                <div class="row">
                    <div class="switch col s3">
                        <label class="white-text">
                            <span class="man"/>
                            <input type="checkbox" />
                            <span class="lever"></span>
                            <span class="woman"/>
                        </label>
                    </div>

                    <div class="col s2">
                        <p class="validate">32 ans</p>
                    </div>

                    <ul class="flags col s6">
                        <li class="french"></li>
                        <li class="anglais"></li>
                        <li class="espagne"></li>
                        <li class="allemagne"></li>
                    </ul>

                </div>
            </div>

        </nav>
    </div>
        <div class="container">
            <ui:insert name="content"/>
        </div>
    <script type="application/javascript" src="../resources/js/jquery.js"></script>
    <script type="application/javascript" src="../resources/js/material.js"></script>
    <script type="application/javascript" src="../resources/js/materialize.min.js"></script>
    <script type="application/javascript" src="../resources/js/raphael.js"></script>
    <script type="application/javascript" src="../resources/js/main.js"></script>
</h:body>
</html>
