<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:head>
    <title>Predoc</title>

    <!--<h:outputStylesheet name="common-style.css" library="css" />-->
    <link rel="stylesheet" href="../resources/css/material.css" />
    <link rel="stylesheet" href="../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../resources/css/font.woff2" />
    <link rel="stylesheet" href="../resources/css/style.css" />

    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.ico" />

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</h:head>



<h:body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base"  style="background-color: #4EBCC5 !important;">
    <div class="home" style="background-color: #4EBCC5 !important;width: 100%;height: 100%;">
        <img src="/resources/logo.png" alt="logo" style=" position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 30%;"/>
    </div>
    <h:link outcome="infirmiere" value="infirmiere" id="loader" style="visibility: hidden" />
    <script type="application/javascript" src="../resources/js/jquery.js"></script>
    <script type="application/javascript" src="../resources/js/material.js"></script>
    <script type="application/javascript" src="../resources/js/materialize.min.js"></script>
    <script type="application/javascript" src="../resources/js/raphael.js"></script>
    <script type="application/javascript" src="../resources/js/main.js"></script>

    <script type="application/javascript">
        $("html").click(function(){
            clickLoader();
        })
        function clickLoader(){
            window.location.href = $("a[name='loader']").attr('href');
        }
    </script>
</h:body>
</html>
