@font-face {
    font-family: "Gotham";
    src: url('Gotham.otf');
}

* {

    padding: 0;
    margin: 0;
}

.indigo.accent-2 {
    background-color: #fff !important;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Gotham', sans-serif ;
}

body {
    background: #f1f1f1;
    color: #2C3237;
}

h2 {
    margin-top: auto;
    vertical-align: middle;
    display: inline;
}

h3 {
    font-weight: 400 !important;
    margin-top: 0px;
}

h4 {
    color: rgb(97,97,97);
    font-weight: 400 !important;
    text-transform: uppercase;
}

header {
    width: 100%;
    height: 65px;
    line-height: 65px;
    background: #1B1F2F ;
    box-shadow: 0px 1px 3px rgba(0,0,0, .24),
    0px 1px 2px rgba(0,0,0, .12);
}

.info {
    width: 90%;
    margin: auto;
    color: #fff;
    font-size: 2em;
}

.info h2 {
    color: #0F7A6C;
    font-weight: bold;
}

#wrapper {
    width: 90%;
    margin: 1em auto;
}

section, aside {
    display: inline-block;
    vertical-align: top;
}

section {
    width: 70%;
    margin-right: 2em;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
}

aside {
    width: calc( 30% - 2em );
}



.tales {
    width: 100%;
    background: #fff;
    border-radius: 3px;

}

.tales.second {
    margin-top: 15px;
}

aside .tales  {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);

}

.title {
    text-align:center;
    height: 40px;
    padding: 1px 10px;
    color: #fff;
    font-size: 1.2em;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0, .24),
    0px 1px 2px rgba(0,0,0, .12);
}

section .title {
    background: #F59D2B ;
}

aside  .title {
    background: #CF181E  ;
}

aside .second .title {
    background: #0F7A6C !important ;
}

ul {
    padding: 15px;
}

li {
    list-style: none;
    margin: 15px 30px;
    position: relative;
    padding: 5px 0;
    border-bottom: 1px solid #ededef;
}

section li:before {
    content: '-';
    color: #4EBCC5;
    font-size: 18px;
    margin-right: 15px;
}

.Alerts li:before {
    content:'';
    width: 20px;
    height: 20px;
    top: 0;
    left: -30px;
    background: url('../images/Shape.png') no-repeat center;
    background-size: contain;
    position: absolute;
}

.Stat span {
    font-size: 20px;
    font-weight: bold;
    color: #0F7A6C;
}

.syndromeDetails ol {
    margin-left: 50px;
}