@font-face {
    font-family: "Gotham";
    src: url('Gotham.otf');
}


* {

    padding: 0;
    margin: 0;
}

.indigo.accent-2 {
    background-color: #4EBCC5 !important;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Gotham', sans-serif ;
}

body {
    background: #f1f1f1;
    color: #2C3237;
}

h2 {
    margin-top: auto;
    vertical-align: middle;
    display: inline;
}

h3 {
    font-weight: 400 !important;
    margin-top: 0px;
}

h4 {
    color: #4EBCC5;
    font-weight: 400 !important;
    text-transform: uppercase;
}

#alert, #patients{
    padding: 0;
}

.man {
    background: url('../svg/Male2.svg') no-repeat center;
    background-size: contain;
    min-height: 24px;
}

.woman {
    background: url('../svg/female2.svg') no-repeat center;
    background-size: contain;
    min-height: 24px;
}

.flags {
    padding: 0;
    text-align: inherit;
}

.flags li {
    margin: 0 2px;
}