@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat/regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat/bold.otf');
    font-weight: 500;
}

html, body {
    font-family: "Montserrat",sans-serif !important;
}

body {
    position: relative;
}

body::after {
    content:'';
    width: 64px;
    height: 64px;
    left: 20px;
    bottom: 0px;
    position: fixed;
    opacity: .7;
    background: url('../svg/emoji/plaster.svg') no-repeat center;
    background-size: contain;
}
.bar {
    box-sizing: border-box;
    background: #4EBCC5;
    color: white;
    width: 100%;
    padding: 16px;
}

.container {
    max-width: none;
}


@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

.row .col {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.predoc-hidden {
    opacity: 0;
}

.predoc-none {
    display: none;
}

.indigo {
    background-color: #4EBCC5 !important;
}

.indigo.accent-2 {
    background-color: #4EBCC5 !important;
}

.indigo-text.text-accent-2 {
    color: #4EBCC5 !important;
}

.switch label input[type=checkbox]:checked + .lever::after {
    background-color: #ffffff;
}
.mdl-color--grey-100 {
    background-color: rgb(127, 140, 141) !important;
}

.card {
    padding: 30px;
}

.card h1 {
    color: #2c3237 !important;
    display: inline-block;
    font-size: 2em;
    margin: auto;
    width:100%;
}

.reset {
    background-color: white;
    border: 1px solid rgba(151, 151, 151, 0.4);
    border-radius: 7px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
    color: #1a8ba6;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

.man , .woman{
    width: 20px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.man {
    background: url('../svg/Male.svg') no-repeat center;
    background-size: contain;
}

.woman {
    background: url('../svg/female.svg') no-repeat center;
    background-size: contain;
}

.french, .anglais, .allemagne, .espagne{
    width: 45px;
    height: 45px;
    float: none !important;
    display: inline-block;
}

.anglais, .allemagne, .espagne{

    opacity: 0.5;
}

.french {
    background: url('../svg/France.svg') no-repeat center;
    background-size: contain;
}

.anglais{
    background: url('../svg/Anglais.svg') no-repeat center;
    background-size: contain;
}

.espagne {
    background: url('../svg/Espagne.svg') no-repeat center;
    background-size: contain;
}

.allemagne{
    background: url('../svg/Allemand.svg') no-repeat center;
    background-size: contain;
}

.flags li{
    margin : 0 20px;
}
.flags {
    text-align: center;
    padding: 0 15px;;
}

.range {
    margin-top: 50px;
}

.valid {
    background-color: rgb(78, 188, 197);
    border: 1px solid rgba(151, 151, 151, 0.4);
    border-radius: 7px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    color: white;
    height: 35px;
    padding: 0px 15px;
    font-size: 1.5em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    float: right;
}

.svg-btn {
    text-align: center;
    margin-top: 42px;
}
.svg-btn input {
    display: block;
    float: inherit;
}

.svg-btn input.reset {
    width: 100%;
}

#svg {
    float: right;
}

form#end {
    width: 90%;
    margin: auto;
}

.done.valid {
    float: right;
    margin-right: -10px;
    margin-bottom: 15px;
}

label {
    z-index: 10;
}

[type="radio"] + label {
    color: #fff;
    text-shadow: 0 1px 1px 0 rgba( 0, 0, 0, .5) !important;
    -moz-text-shadow: 0 1px 1px 0 rgba( 0, 0, 0, .5) !important;
}

[type="radio"] + label {
    padding: 15px !important;
    height: 49px;
    min-width: 130px;
    border-radius: 9px !important;
    background: #4EBCC5;
    border: 1px solid transparent;
    transform: scale(1) !important;
    background: linear-gradient( -180deg, #4EBCC5 0%, #17B4B3 100%);
    box-shadow: 0px 4px 0px 0px #116A7C;
    transition: all .25s ease-out;
}

[type="radio"] + label:active ,
[type="radio"] + label:focus {
    border: 1px solid #186A7B;
    background: linear-gradient( -180deg, #4EBCC5 0%, #17B4B3 100%);
    box-shadow: 0px 4px 0px 0px #116A7C,
                inset 0 -1px 3px 3px #116A7C;
}

[type="radio"]:not(:checked) + label::before ,
[type="radio"]:not(:checked) + label::after {
    border: none !important;
    display: none;
}

[type="radio"]:checked + label::after {
    border: none !important;
    background-color: transparent !important;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
    height: auto !important;
    text-align: center;
    font-size: 1.4rem !important;
    line-height: normal !important;
}

[type="radio"]:checked + label {
    background: linear-gradient( -180deg, #307378 0%, #307378 100%);
    box-shadow: none;
}

table {
    width: auto !important;
    margin: 2em 0;
}

table ~ input.reset {
    margin-bottom: 1.5em;
}

.card {
    border-radius: 6px !important;
}

.container{
    min-height: 65%;
}

.checkmark {
    width: 200px;
    margin: 0 auto;
    padding-top: 40px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 2s ease-in-out;
    -webkit-animation: dash 2s ease-in-out;
}

.spin {
    animation: spin 2s;
    -webkit-animation: spin 2s;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.validate {
    margin: 0px;
    font-size: 2em;
}

#corpsDvt, #corpsDos {
    display: inline-block;
}

#corpsDos svg
{
    background: url('../svg/dos.svg') no-repeat center;
    background-size: contain;
}

#ventre svg
{
    background: url('../svg/ventre.svg') no-repeat -3px 8px;
    background-size: contain;
}

#corpsDvt svg
{
    background: url('../svg/face.svg') no-repeat center;
    background-size: contain;
}

#corpsDos svg path,
#corpsDvt svg path
{
    opacity: 0;
}

#ventre svg path
{
    opacity: .5;
}

/*Emojy*/
[class*="img-1"] {
    width: 150px;
    height: 150px;
    position: absolute;
}

.img-111 {
    right: 9%;
    bottom: 50px;
    background: url('../svg/emoji/head2.svg') no-repeat center;
    background-size: contain;
}
.img-111::after {
    content: '';
    width: 37px;
    height: 37px;
    top: -52px;
    left: 19px;
    position: absolute;
    background: url('../svg/emoji/question.svg') no-repeat center;
    background-size: contain;
}

.img-111::after {
    animation: what 4s infinite ease-in;
}

.img-131 {
    right: 7%;
    bottom: 50px;
    background: url('../svg/emoji/head9.svg') no-repeat center;
    background-size: contain;
}

.img-151 {
    right: 7%;
    bottom: 50px;
    background: url('../svg/emoji/head10.svg') no-repeat center;
    background-size: contain;
}

.img-151::after {
    content: '';
    width: 60px;
    height: 100px;
    top: 116px;
    left: 45px;
    position: absolute;
    background: url('../svg/emoji/gerbe.svg') no-repeat center;
    background-size: contain;
    animation: gerbe 2s ease-out infinite;
}


.img-131::after ,
.img-131::before {
    content:'';
    width: 14px;
    height: 14px;
    position: absolute;
    background: url('../svg/emoji/eye.svg') no-repeat center;
    background-size: contain;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
}

.img-131::before {
    top: 61px;
    left: 32px;
}

.img-131::after  {
    top: 61px;
    right: 32px;
}

.img-161 {
    right: 7%;
    bottom: 50px;
    background: url('../svg/emoji/head6.svg') no-repeat center;
    background-size: contain;
}

.img-161::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: url('../svg/emoji/head4bis.svg') no-repeat center;
    background-size: contain;
    animation: change 3s infinite ease-in;
}

@keyframes what {
    0% { opacity: 1; transform: scale(1) }
    50% { opacity: 0;  transform: scale(0)}
    100% { opacity: 1;  transform: scale(1)}
}

@keyframes gerbe {
    0% {
        background: url('../svg/emoji/gerbe.svg') repeat 50% 0%;
    }
    100% {
        background: url('../svg/emoji/gerbe.svg') repeat 50% 200%;
    }
}


@keyframes change {
    0% { opacity: 1 }
    50% { opacity: 0}
    100% { opacity: 1}
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(0px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(0px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

h3 {
    color: #fff !important;
}