<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>

<h:head>
    <title>Predoc</title>
    <link rel="stylesheet" href="../resources/css/material.css" />
    <link rel="stylesheet" href="../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../resources/css/doctor.css" />

    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.ico" />

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</h:head>

<h:body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base"  >


    <div class="navbar-fixed">
        <nav class="indigo accent-2">
            <div class="info">
                <h2>Patient n°68 - Homme / 32 ans</h2>
            </div>
        </nav>
    </div>

    <div id="wrapper">
        <section>
            <div class="tales">
                <div class="title">
                    <h3>
                        Symptômes principaux</h3>
                </div>
                <ul class="Main">
                    <h4>#{doctorController.symptomePrincipal}</h4>
                    <ui:repeat value="#{doctorController.symptomePrincipal.symptomeDetails}" var="details">
                        <li>#{details}</li>
                    </ui:repeat>
                </ul>
            </div>
            <div class="tales">
                <div class="title">
                    <h3>Autres</h3>
                </div>
                <ul class="Other">
                    <ui:repeat value="#{doctorController.autres.syndromeDtoList}" var="syndromes">
                        <li onclick="$(this).next('.syndromeDetails').slideToggle('slow')">#{syndromes}</li>
                        <div class="syndromeDetails" style="display:none">
                            <ol>
                                <ui:repeat value="#{syndromes.symptoneDtoList}" var="syndsymp">
                                    <li>#{syndsymp}</li>
                                </ui:repeat>
                                <ui:repeat value="#{syndromes.syndromeDtoList}" var="syndsynd">
                                    <li onclick="$(this).next('ol').slideToggle('slow')">#{syndsynd}</li>
                                    <ol style="display:none">
                                        <ui:repeat value="#{syndsynd.symptoneDtoList}" var="syndsymp">
                                            <li>#{syndsymp}</li>
                                        </ui:repeat>
                                    </ol>
                                </ui:repeat>
                            </ol>
                        </div>
                    </ui:repeat>
                    <li><ui:repeat value="#{doctorController.autres.symptoneDtoList}" var="symptomes">
                        <h:outputText value="#{symptomes}, " rendered="#{not (symptomes.label eq doctorController.autres.symptoneDtoList.get(doctorController.autres.symptoneDtoList.size()-1).label)}"/>
                        <h:outputText value="#{symptomes}" rendered="#{symptomes.label eq doctorController.autres.symptoneDtoList.get(doctorController.autres.symptoneDtoList.size()-1).label}"/>
                    </ui:repeat></li>
                </ul>
            </div>
        </section><!--
        --><aside>
        <div class="tales">
            <div class="title">
                <h3>Alertes</h3>
            </div>
            <ul class="Alerts">
                <ui:repeat value="#{doctorController.answerAlert}" var="alerts">
                    <li>#{alerts}</li>
                </ui:repeat>
            </ul>
        </div>
        <div class="tales second">
            <div class="title">
                <h3>
                    Fiabilité</h3>
            </div>
            <ul class="Stat">
                <li><span>#{doctorController.notAnswereScore}</span> % de questions repondues</li>
                <li><span>#{doctorController.notUnderstandAnswer}</span> % de questions non comprises</li>
                <!--<li><span>#{doctorController.notKnowAnswerScore}</span> % de questions sans réponse</li>-->
            </ul>
        </div>
    </aside>

   <h:link outcome="infirmiere">-></h:link>

    </div>

    <script type="application/javascript" src="../resources/js/jquery.js"></script>
    <script type="application/javascript" src="../resources/js/material.js"></script>
    <script type="application/javascript" src="../resources/js/materialize.min.js"></script>
    <script type="application/javascript" src="../resources/js/raphael.js"></script>
    <script type="application/javascript" src="../resources/js/main.js"></script>

</h:body>
</html>