<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
        >
<composite:interface>
    <composite:attribute name="idFormulation" required="true" />
</composite:interface>
<composite:implementation>
    <h:panelGroup layout="block">
        <h:panelGroup layout="block" styleClass="img-111" rendered="#{cc.attrs.idFormulation == 111}" />
       <!-- <h:panelGroup layout="block" styleClass="img-112" rendered="#{cc.attrs.idFormulation == 112}"/>-->
        <h:panelGroup layout="block" styleClass="img-121" rendered="#{cc.attrs.idFormulation == 121}"/>
        <h:panelGroup layout="block" styleClass="img-122" rendered="#{cc.attrs.idFormulation == 122}"/>
        <h:panelGroup layout="block" styleClass="img-131" rendered="#{cc.attrs.idFormulation == 131}"/>
        <h:panelGroup layout="block" styleClass="img-132" rendered="#{cc.attrs.idFormulation == 132}"/>
        <h:panelGroup layout="block" styleClass="img-141" rendered="#{cc.attrs.idFormulation == 141}"/>
       <!-- <h:panelGroup layout="block" styleClass="img-142" rendered="#{cc.attrs.idFormulation == 142}"/>-->
        <h:panelGroup layout="block" styleClass="img-151" rendered="#{cc.attrs.idFormulation == 151}"/>
        <h:panelGroup layout="block" styleClass="img-152" rendered="#{cc.attrs.idFormulation == 152}"/>
        <h:panelGroup layout="block" styleClass="img-161" rendered="#{cc.attrs.idFormulation == 161}"/>
        <h:panelGroup layout="block" styleClass="img-162" rendered="#{cc.attrs.idFormulation == 162}"/>
        <h:panelGroup layout="block" styleClass="img-171" rendered="#{cc.attrs.idFormulation == 171}"/>
        <h:panelGroup layout="block" styleClass="img-172" rendered="#{cc.attrs.idFormulation == 172}"/>
    </h:panelGroup>
</composite:implementation>
</html>
