<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:predoc="http://java.sun.com/jsf/composite/components"
        >
<composite:interface>
    <composite:attribute name="formulation" required="true" type="predoc.core.FormulationDto"/>
</composite:interface>
<composite:implementation>
    <h:panelGroup styleClass="card #{cc.attrs.formulation.first?'':'predoc-hidden'} content" layout="block">
        <h:form>
            <h1>#{cc.attrs.formulation.label}</h1>
            <h:selectOneRadio value="#{cc.attrs.formulation.oneAnswer}">
                <p:ajax listener="#{navigationController.next(cc.attrs.formulation)}" update="@(.question_container)" oncomplete="Materialize.fadeInImage('.card:last-child');scrollToBottom(); " process="@form"/>
                <f:selectItems value="#{cc.attrs.formulation.answerList}" />

            </h:selectOneRadio>

            <predoc:image idFormulation="#{cc.attrs.formulation.idFormulation}" />
            <h:commandButton styleClass="reset" actionListener="#{navigationController.newFormulation()}" value="#{msg['notunderstand']}" >
                <p:ajax update="@(.question_container)" oncomplete="Materialize.fadeInImage('.card:last-child');scrollToBottom(); " process="@form"/>
            </h:commandButton>
        </h:form>
    </h:panelGroup>
</composite:implementation>
</html>
