<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:predoc="http://java.sun.com/jsf/composite/components"
        >
<composite:interface>
    <composite:attribute name="formulation" required="true" type="predoc.core.FormulationDto"/>
</composite:interface>
<composite:implementation>
    <h:panelGroup styleClass="card #{cc.attrs.formulation.first?'':'predoc-hidden'} content" layout="block">
        <h:form>
            <h1>#{cc.attrs.formulation.label}</h1>
            <div class="row">
                <h:selectManyCheckbox value="#{cc.attrs.formulation.multipleAnswers}" style="display: none;">
                    <f:selectItems value="#{cc.attrs.formulation.answerList}"/>
                </h:selectManyCheckbox>

                <div class="svg-btn col s5" >
                    <h:panelGroup layout="block" styleClass="svg-btn-zoom" style="display: none;">
                        <h:commandButton styleClass="reset" actionListener="#{navigationController.newFormulation()}" value="Je me suis trompé">
                            <p:ajax update="@(.question_container)" oncomplete="Materialize.fadeInImage('.card:last-child');scrollToBottom(); " process="@form"/>
                        </h:commandButton>
                        <h:commandButton styleClass="reset" actionListener="#{navigationController.newFormulation()}" value="Je ne trouve pas">
                            <p:ajax update="@(.question_container)" oncomplete="Materialize.fadeInImage('.card:last-child');scrollToBottom(); " process="@form"/>
                        </h:commandButton>
                        <h:commandButton styleClass="reset" actionListener="#{navigationController.newFormulation()}" value="#{msg['notunderstand']}">
                            <p:ajax update="@(.question_container)" oncomplete="Materialize.fadeInImage('.card:last-child');scrollToBottom(); " process="@form"/>
                        </h:commandButton>
                        <h:commandButton styleClass="valid" actionListener="#{navigationController.next(cc.attrs.formulation)}" value="Valider">
                            <p:ajax update="@(.question_container)" oncomplete="Materialize.fadeInImage('.card:last-child');scrollToBottom();" process="@form"/>
                        </h:commandButton>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="svg-btn-wide">
                        <predoc:image idFormulation="#{cc.attrs.formulation.idFormulation}"/>
                        <h:commandButton styleClass="reset" actionListener="#{navigationController.newFormulation()}" value="#{msg['notunderstand']}">
                            <p:ajax update="@(.question_container)" oncomplete="Materialize.fadeInImage('.card:last-child');scrollToBottom(); " process="@form"/>
                        </h:commandButton>
                    </h:panelGroup>

                </div>
                <div id="svg" class="col s6">
                    <div id="corps">
                        <div id="corpsDvt"/>
                        <div id="corpsDos"/>
                    </div>
                    <div id="ventre"/>
                    <h:panelGroup layout="block" styleClass="#{cc.attrs.formulation.multipleAnswers != null?'':'predoc-none'}">
                        <div class="checkmark">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
                                <path class="path" fill="none" stroke="#7DB0D5" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
                                    c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
                                    c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
                                                                <circle class="path" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
                                                                <polyline class="path" fill="none" stroke="#7DB0D5" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8
                                    74.1,108.4 48.2,86.4 "/>

                                                                <circle class="spin" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>

                                </svg>
                            
                        </div>
                    </h:panelGroup>
                </div>
            </div>
        </h:form>
    </h:panelGroup>
</composite:implementation>
</html>
