<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:predoc="http://java.sun.com/jsf/composite/components"
                xmlns:p="http://primefaces.org/ui"
        template="../template/main-layout.xhtml">

<ui:define name="content">

        <p:panel styleClass="question_container">

                <ui:repeat value="#{navigationController.formulationList}" var="formulation" >

                        <predoc:qcmSVG rendered="#{formulation.type == 102}" formulation="#{formulation}" />
                        <predoc:qcmQuestion_unchoix rendered="#{formulation.type == 0}" formulation="#{formulation}"/>
                        <predoc:qcmQuestion_multiple rendered="#{formulation.type == 100}" formulation="#{formulation}"/>
                        <predoc:qcmQuestionColor_multiple rendered="#{formulation.type == 101}" formulation="#{formulation}"/>
                        <predoc:qcmQuestionColor_unchoix rendered="#{formulation.type == 1}" formulation="#{formulation}"/>
                        <predoc:questionNumeric rendered="#{formulation.type == 3}" formulation="#{formulation}"/>

                        <!--<h:outputText value="#{question}" rendered="#{question == '1'}" style="color: red;"/>-->
                        <h:outputText value="#{question}" rendered="#{question == '2'}" style="color: green;"/>

                </ui:repeat>

        </p:panel>
        <h:form id="end">
            <h:commandButton styleClass="done valid" action="done" value="Terminer le questionnaire" actionListener="#{navigationController.done()}"/>
        </h:form>

</ui:define>

</ui:composition>